@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
}
h1 {
  font-size: 1rem;
  position: relative;
  left: 1rem;
  color: aliceblue;
}

body {
  margin: 0;

  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding: 0;
  font-family: "poppins", sans-serif;
  background: url("../public/2.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
.hidden {
  display: none;
}

a.titleg {
  font-size: 1rem;
  position: relative;
  left: 1.5rem;
  bottom: 0.1rem;
  font-weight: 600;
  color: aliceblue;
  text-decoration: none;
}

#topBar {
  padding: 1rem 0; /* Adjust the padding */
  width: 100%;
  height: 6vh;
  background-color: #282828;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#inputBox {
  position: fixed;
  top: 14rem;
  left: 50rem;
  width: 60%;
  background-color: rgb(216, 207, 207);
  padding: 40rem;
  border-radius: 20px;
}

.posts {
  border: white solid 2px;
  padding-left: 1.2rem;
  padding: 1rem;
  width: 40rem;
  margin: 1rem;
  margin-bottom: 3rem;
  border-radius: 26px;
  background-color: white;
  color: black;
  opacity: 1;
  position: relative;
  left: 1.7rem;
}

#spacing {
  height: 10vh;
}

#addPostBtn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  left: 50rem;
  top: 3.2rem;
  border-radius: 12px;
  padding: 0.7rem;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


#addPostBtn:hover {
  background-color: #ccc;
}


.postLikes {
  color: black;
  font-weight: 500;
  font-size: 28px;
  position: relative;
  left: 600px;
  bottom: 152px;
}
.heart {
  color: red;
}
#backButton {
  color: white;
  position: relative;
  font-size: 20px;
  top: 25px;
  left: 40px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}
#backButton:hover {
  background-color: rgba(300, 300, 300, 0.2);
  color: #fff;
}

#backButton:active {
  animation: click-effect 0.3s ease-in-out;
}

@keyframes click-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.heart-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  position: relative;
  font-size: 40px;
  left: 550px;
  bottom: 70px;
  color: red;
}

.heart-button ion-icon {
  color: red;
  font-size: 40px;
}
#inputBox {
  max-width: 28vw;
  padding: 3rem;
  height: 62vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
}

#closeForm {
  color: black;
  font-size: 2rem;
  left: 18rem;
  top: -2rem;
  position: relative;
}
#closeForm:hover {
  color: #ec3da0;
  transition: 0.3s;
}

#postForm {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

.Btn {
  background-color: #ec3da0;
  position: relative;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
button.Btn:hover {
  background-color: #a04597;
}

br {
  line-height: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  bottom: 2.1rem;
  right: 2rem;
  height: 2.2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.posta {
  position: relative;
  white-space: nowrap;
  top: 0.1rem;
  left: 5rem;
  font-weight: 550;
  font-size: 1.2rem;
  display: inline-block;
}
.switchForm {
  position: relative;
  left: 150px;
  top: 80px;
}
div.preview-images > img {
  width: 30%;
}

.col-sm-8mt-3 {
  padding: 20px;
  width: 800px;
}

img {
  max-width: 16em;
}
.imageContainer {
  display: inline-block;
}
.skeleton {
  background-color: white;
  padding: 1rem;
}
.borderClass {
  border: white solid 2px;
  padding-left: 1.2rem;
  padding: 1rem;
  width: 40rem;
  margin: 1rem;
  margin-bottom: 3rem;
  border-radius: 26px;
  background-color: white;
  color: black;
  opacity: 1;
  position: relative;
  left: 1.7rem;
}
#title{
  border: 1px solid rgb(148, 148, 148);
  border-radius: 2px;
}
#title:focus{
  border: 1px solid black;
  border-radius: 2px;
}
#content{
  border: 1px solid rgb(148, 148, 148);
  border-radius: 2px;
}
button.postBtn{
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ec3da0;
}
button.postBtn:hover{
  transition: 0.3s;
  background-color: rgb(253, 141, 159);
}