@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
h1.h11 {
  font-size: 2rem;
  position: relative;
  font-weight: 600;
}
body.dash,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body.dash {
  overflow-y: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(
    -55deg,
    #ee7752,
    #e73c7e,
    rgb(180, 180, 36),
    #257fa0,
    #1d9f80
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#topBardash {
  padding: 5px 0;
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
}
.channels {
  display: flex;
  align-items: center;
}
.channel {
  text-decoration: none;
  position: relative;
  transition: color 0.5s;
  font-weight: 600;
  font-size: 0.9rem;
}

.channel:hover {
  text-decoration: none;
  color: rgb(15, 185, 185);
}

.channel:active {
  animation: click-effect 0.3s ease-in-out;
}

@keyframes click-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
li {
  list-style: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 1.5px solid #fff;
  color: white;
  justify-content: left;
  width: 6vw;
}
.icon-container {
  position: relative;
  left: 15px;
  margin-top: -16px;
}
nav.dash {
  flex-grow: 1;
}
p {
  text-align: left;
}

.index {
  display: flex;
  align-items: center;
}

.index .icon-container {
  margin-right: 1rem;
}

.block {
  position: relative;
  top: 5rem;
  text-align: center;
  height: 10rem;
  color: white;
}
.icon {
  display: inline-block;
  position: relative;
  font-weight: 50;
  transition: transform 0.2s ease-in-out;
}
.lift {
  transform: translateY(-15px);
  color: white;
  transition: transform 0.2s ease-in-out;
}
a.title {
  font-size: 2rem;
  position: relative;
  left: 2rem;
  top: 0.7rem;
  font-weight: 600;
  font-weight: 550;
  color: aliceblue;
  text-decoration: none;
}
#adminPage {
  text-align: center;
  text-decoration: none;
  position: relative;
  right: 100px;
  color: white;
  width: 200px;
  border: white 2px solid;
  height: 20px;
}
.profile {
  position: relative;
  color: white;
  left: 70rem;
  bottom: 0;
}
section.dashsec {
  position: relative;
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(120, 120, 120, 0.5);
  height: 100vh;
  width: 94vw;
}
h1.dashh1{
  font-size: 2rem;
  position: relative;
  font-weight: 550;
  color: white;
}
div.comments{
  padding: 3rem;
}
div.posts{
  padding: 3rem;
}
div.likes{
  padding: 3rem;
}
div.like{
  padding: 3rem;
}
