:root {
  --blue-color: #2594f3;
  --purple-color: #ed2de2;
}

div.discussionTopBar {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: var(--blue-color);
}

h1.discussion{
  color: black;
  position: relative;
  font-size: 2rem;
}
